$sizeOfBox: 100px;
$widthOfBox: 200px;
.CoolSelector {
  position: relative;
  min-width: 150px;
  width: fit-content;
  &.CoolSelectorHolderActive {
    .CoolSelectorItemHolder {
      height: fit-content;
      max-height: $sizeOfBox;
    }
  }
  .CoolSelectorPointer {
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transform: rotate(90deg);
    }
    transition: all 0.2s ease;
    width: 30px;
    height: 30px;
    background-color: $color6;
    cursor: pointer;
    &:hover {
      filter: brightness(0.8);
    }
  }
  .CoolSelectorActiveItem {
    display: flex;
    position: relative;
    .CoolItemBullet {
      background: #cecece;
      margin: 0px 4px;
      p {
        margin: 0px;
      }
      position: relative;
     
      padding: 2px 10px;
      cursor: pointer;
      &:hover {
        background: $color6;
      }
      &.CoolSelectorItemActive {
        background: $color1;
      }
    }
    input {
      display: flex;
      width: $sizeOfBox;
    }
  }
  .CoolSelectorItemHolder {
    transition: all 0.2s ease;
    max-height: 0px;
    top: 30px;
    position: absolute;
    //width: $widthOfBox;
    width: 100%;
    right: 0px;
    max-width: 150px;
    z-index: 3;
    height: 100px;
    overflow-y: scroll;
    background: $color6;
    .CoolSelectorItem {
      p {
        margin: 0px;
      }
      transition: all 0.2s ease;
      padding: 2px 10px;
      cursor: pointer;
      &:hover {
        background: $color5;
        color: white;
      }
      &.CoolSelectorItemActive {
        background: $color1;
      }
    }
  }
}
