$sizeOfBox: 100px;
$widthOfBox: 200px;
.CoolSelector {
  position: relative;
  min-width: 150px;
  width: fit-content;
  &.CoolSelectorHolderActive {
    .CoolSelectorItemHolder {
      max-height: $sizeOfBox;
    }
  }
  .CoolSelectorPointer {
    width: 30px;
    height: 30px;
    background-color: red;
    cursor: pointer;
  }
  .CoolSelectorActiveItem {
    display: flex;
    position: relative;
    .CoolItemBullet {
      p {
        margin: 0px;
      }
      position: relative;
     
      padding: 2px 10px;
      cursor: pointer;
      &:hover {
        background: green;
      }
      &.CoolSelectorItemActive {
        background: red;
      }
    }
    input {
      display: flex;
      width: $sizeOfBox;
    }
  }
  .CoolSelectorItemHolder {
    transition: all 0.2s ease;
    max-height: 0px;
    top: 30px;
    position: absolute;
    //width: $widthOfBox;
    width: 100%;
    right: 0px;
    max-width: 150px;
    z-index: 9;
    height: 100px;
    overflow-y: scroll;
    background: white;
    .CoolSelectorItem {
      p {
        margin: 0px;
      }
      transition: all 0.2s ease;
      padding: 2px 10px;
      cursor: pointer;
      &:hover {
        background: green;
      }
      &.CoolSelectorItemActive {
        background: red;
      }
    }
  }
}
